[Desktop Entry]
Name=Victus Max
Comment=Next-generation control center for HP Victus & OMEN laptops with Better Auto cooling
Exec=omen-gui
Icon=omenspace
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;
Keywords=HP;Victus;OMEN;Fan;BetterAuto;Performance;Control;
StartupNotify=true
StartupWMClass=org.hp.VictusMax
